In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf
from sklearn.model_selection import train_test_split
import re

### Input datasets

In [2]:
train_df = pd.read_csv('./dataset/train.csv')
test_df = pd.read_csv('./dataset/test.csv')

In [3]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Parameters
learning_rate = 0.001
training_epochs = 100
batch_size = 100
display_step = 1

In [5]:
# to predict
y = train_df['Survived']

In [6]:
# Predictors
preds=['Pclass','Sex','Age','Fare']

In [7]:
X = train_df[preds]
X.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

### Check for inconsistent/ null values in the predictors

In [8]:
X['Fare'].isnull().sum()

0

In [9]:
X['Sex'].isnull().sum()

0

In [10]:
X['Pclass'].isnull().sum()

0

In [11]:
X['Age'].isnull().sum()

177

In [12]:
# Dropping the null values results in a huge loss of data so will be taking the median of the values to fill the nan values
X['Age']= X['Age'].fillna(X['Age'].median())
X['Age'].isnull().sum()

C:\Users\Dell\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0

## Converting categorical data into numerical data

In [13]:
# dictionary
d = {'male':0, 'female':1}

In [14]:
X['Sex'] = X['Sex'].map(d)
X.head()

C:\Users\Dell\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   Pclass  Sex   Age     Fare
0       3    0  22.0   7.2500
1       1    1  38.0  71.2833
2       3    1  26.0   7.9250
3       1    1  35.0  53.1000
4       3    0  35.0   8.0500

In [15]:
# Generate train and test data from train_df
X_train, X_test, y_train,y_test = train_test_split(X, y,test_size=0.3, random_state = 101 )

# Using Support Vector Machines

In [18]:
from sklearn.svm import SVC

In [19]:
clf = SVC()

In [20]:
# Train the model
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [21]:
clf.predict(X_test[0:1])

array([0], dtype=int64)

In [22]:
clf.predict(X_test[0:10])

array([0, 0, 0, 1, 0, 0, 0, 0, 1, 0], dtype=int64)

In [23]:
clf.score(X_test, y_test)

0.6865671641791045

# Using Random Forests

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
classify = RandomForestClassifier()

In [24]:
classify.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [25]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [26]:
predict = classify.predict(X_test[preds])

In [27]:
classify.score(X_test, y_test)

0.8283582089552238

# Testing data

In [28]:
test_df[preds].isnull().sum()

Pclass     0
Sex        0
Age       86
Fare       1
dtype: int64

In [29]:
dict = {'male':0, 'female':1}

In [30]:

test_df['Sex']= test_df['Sex'].map(dict)
test_df['Age']= test_df['Age'].fillna(test_df['Age'].median())
test_df['Age'].isnull().sum()

0

In [31]:
test_df['Fare']= test_df['Fare'].fillna( test_df['Fare'].median())

In [32]:
test_df['Fare'].isnull().sum()

0

In [33]:
predict = classify.predict(X_test[preds])

### Submission File

In [34]:
my_submission = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predict})
my_submission.to_csv('submission.csv', index=False)